<body>
  <%-include('partials/head')%>
</head>
<body>
  <%-include('partials/header')%>
  <nav>
 <h1>Register your home here:</h1>
  </nav>
    
 

 
  <main>

  

    <form action="/host/add-home" method="POST">
  
    <input type="text" name="housename" placeholder="enter the name of your house ">
    <input type="text" name="price" placeholder="enter the price">
    <input type="text" name="location" placeholder="location">
      <input type="file" id="img" name="img" accept="image/*">
    <input type="submit">

    
  

    


  </form>
  </main>
  
</body>
</html>