<body>
  <%-include('partials/head')%>
</head>
<body>
  <%-include('partials/header')%>
<nav>
    <h1>Home Registered succesfully </h1>
</nav>

     
  
  <main>
      <a href="/">Go to home</a>
  </main>
  
</body>
</html>